@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(1, 46, 88);
    background: linear-gradient(270deg, rgba(1, 46, 88, 1) 24%, rgb(255, 0, 30) 100%);

    /* background: #009FFF;
    background: -webkit-linear-gradient(to right, #e92341, #0051ff); 
    background: linear-gradient(to right, #e92341, #0051ff); */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .box {
    position: relative;
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    background: linear-gradient(#fff, #fff, #e3e3e3);
    filter: blur(1px);
    z-index: 1;

}

.container .box::after {
    content: '';
    position: absolute;
    top: 1;
    right: -1px;
    width: 25px;
    height: 100%;
    background: #9d9d9d;
    filter: blur(1px);
    z-index: 1;

}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        20px 10px 20px rgba(0, 0, 0, 0.1),
        50px 50px 80px rgba(0, 0, 0, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1),
        inset 3px 3px 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content .form {
    position: relative;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo {
    width: 70px;
    height: 70px;
    background: #444;
    color: #fff;
    font-size: 1.75em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content .form h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 0;
    font-weight: bold;
}

.content .form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 25px;
}

.content .form .inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 0 10px 25px;
    font-size: 1.25em;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 3px solid #444;
    outline: none;
    color: #444;

}

.content .form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 15px;
    font-size: 1.25em;
    color: #444;
}

.content .form .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0 10px 25px;
    font-size: 1.25em;
    pointer-events: none;
    color: #444;
    transition: 0.5s;

}

.content .form .inputBox input:focus~span,
.content .form .inputBox input:valid~span {
    transform: translateY(-20px);
    font-size: 0.9em;
    background: #444;
    color: #fff;
    padding: 2px 4px;

}

.content .form .links {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.content .form .links a {
    color: #444;
    text-decoration: none;
}

.content .form .links a:hover {
    color: #333;
    font-weight: 500;
}

.content .form .inputBox input[type="submit"] {
    background: #ff2e48;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.content .form .inputBox input[type="submit"]:hover {
    background: #012e58;
}

/* Animation para levantar un elemento on hover*/
.pull-up {
    transition: all 0.25s ease;
}

.pull-up:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 14px 24px rgba(62, 57, 107, 0.2);
    z-index: 30;
}
/*waves****************************/


.boxx {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #f2112b;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 9000ms infinite linear;
}

.wave.-three {
    animation: drift 9500ms infinite linear;
    position: fixed;
    background-color: #ff2e48;
}

.wave.-two {
    animation: drift 5000ms infinite linear;

    background: #e72e44;
    position: fixed;
}

.boxx:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/*LOADING SPACE*/

.contain {
    animation-delay: 4s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.icon:nth-child(3) img {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.icon:nth-child(4) img {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.icon img {
    -webkit-animation: anim 2s ease infinite;
    animation: anim 2s ease infinite;
    -webkit-transform: scale(0, 0) rotateZ(180deg);
    transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}