<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer th:fragment="footer" class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Universidad Amazónica de Pando &copy; 2023 <a class="text-bold-800 grey darken-2" href="https://1.envato.market/modern_admin" target="_blank">José Laura</a></span><span class="float-md-right d-none d-lg-block">Unidad de Sistemas de Información y Comunicación <i class="ft-heart pink"></i><span id="scroll-top"></span></span></p>
    </footer>
</body>
</html>